h1, h2, h3, p {
    text-align: center;
    color: gainsboro;
}

h1 {
    font-family: 'Amiri Quran', serif;
    color: rgb(78, 150, 78);
    font-size: 50px;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px #282828;
    background-color: rgb(214, 243, 210);
}

div:not(.list) {
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px dotted rgba(0, 0, 0, 0.5);
}

.list {
    justify-content: center;
    display: flex;
    color: gainsboro;
}

#media {
    text-align: center;
    display: block;
}

#content{
    background-image: url(assets/th.webp);
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(18, 43, 18);
}

img, video, h1 {
    border-radius: 10px;
    border: 2px solid whitesmoke;
    
}